.Recipe__title {
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	align-items: center;
	color: white;
	font-size: 1.5rem;
	justify-content: center;
	line-height: 3rem;
	text-transform: uppercase;
	text-align: center;
	border-top: 0.3rem solid black;
	border-bottom: 0.3rem solid black;
	background-color: var(--reciped-blue);
}

.Recipe__title > img {
	width: 50px;
	height: 50px;
	margin: 0 1rem;
}

.Recipe__contents {
	display: flex;
	flex-direction: row;
	line-height: 2rem;
}

.Recipe__ingredients {
	margin-top: 1rem;
	padding-right: 2rem;
	margin-right: 1rem;
	border-right: 4px solid var(--reciped-blue)
}

.Recipe__section-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1rem;
	text-transform: uppercase;
	color: var(--reciped-blue);
}

.Recipe__section-title > h2 {
	margin: 0;
}

.Recipe__section-icon {
	width: 30px;
	height: 30px;
	margin: 0 1rem;
}

.Recipe__directions {
	margin-top: 1rem;
	padding-right: 2rem;
	margin-right: 1rem;
}

.Recipe__cookbook-option {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
	margin: 1rem;
}

.Recipe__add-option-select {
	box-sizing: content-box;
	border: 1px solid var(--reciped-blue);
	border-right: none;
	outline: none;
	border-radius: 2rem 0rem 0rem 2rem;
	padding: 1rem;
}

.Recipe__add-option-button {
	border: 2px solid var(--reciped-blue);
	outline: none;
	border-radius: 0rem 2rem 2rem 0rem;
	background-color: var(--reciped-blue);
	color: white;
	font-weight: bold;
	cursor: pointer;
	padding: 1rem;
}

.Recipe__remove-option-button {
	border: 2px solid lightcoral;
	outline: none;
	border-radius: 2rem;
	background-color: white;
	color: lightcoral;
	font-weight: bold;
	cursor: pointer;
	padding: 1rem;
}

.alert__div {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 10000vh;
	width: 10000vh;
	backdrop-filter: blur(4rem);
	z-index: 1000;
}