.Explore {
	background-image: url('../assets/exploreBackground.png');
	background-size: cover;
	height: fit-content;
}

.Explore__searchbar {
	display: flex;
	flex-direction: row;
	padding: 2rem;
	width: 85%;
	box-sizing: border-box;
}

.explore-username {
    display: flex;
    background-color: #6c9eba;
    width: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    right: 3%;
    position: fixed;
    color: white;
}

.explore-username > h2 {
    margin-left: 10px;
    font-size: 1.2rem;
    cursor: default;
	font-weight: 400;
}