.scroll-button {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 20px;
  margin-bottom: 0;
}

.row-container {
  overflow: visible;
  position: relative;
  transition: transform 1s ease;
}

.post-card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
  padding: 10px;
}

.row-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
  font-size: 1.5rem;
}

.row-title > h4 {
  margin-bottom: 5px;
  color: var(--Reciped-Blue, #6c9eba);
  font-size: 1.5625rem;
  font-weight: 700;
  margin-left: 5px;
}

.row-title > img {
    margin-top: 25px;
}

.row-button {
    width: 40px;
    cursor: pointer;
}